<h1>Burgers!</h1>


<ul>

  {{#each burgers}}
   <li>
    {{#if this.devoured}}
      <div class="dev">
      {{this.id}} {{this.burger_name}}
      </div>
  {{else}}
    <div class="nonDev">
      {{this.id}}  {{this.burger_name}} <button data-id={{this.id}} class="devour" type="submit">Devour</button>
    </div>
  {{/if}}

  </li>
  {{/each}}

</ul>


<form class="create-form">

  <div class="form-group">
    <label for="newBurger">Enter a burger you want to eat:</label>
    <input type="text" id="newBurger" name="name">
  </div>

  <button type="submit">Submit</button>
</form>
