
<div class="container">

  <div class="block -burger">
    <div class="columns">
      <div class="column is-4">
          <ul>
            {{#each burgers}}
            {{#unless this.devoured}}
            <li>
              <div>
                <div class="devourdiv">
                  <div class="buttons">
                    <span class="button is-static">{{this.id}} {{this.burger_name}}</span>

                    <span data-id={{this.id}} class="button is-danger submit">Devour</span>
                  </div>

                </div>
              </div>
          </li>
              <br>
              {{/unless}}
              {{/each}}
            </ul>

      </div>
      <div class="column is-4 is-vertical" id="burgerDiv">
          <img id="burgerImage" src="/assets/img/burger2.png">
      </div>
      <div class="column is-4 is-justify-right" id="rightBurgers">
        <ul>
          {{#each burgers}}
          {{#if this.devoured}}
          <li>
            <article class="message is-danger is-small">
              <div class="message-body has-text-centered">
              You devoured the: <strong> {{this.id}} {{this.burger_name}}</strong>
              </div>
            </article>
          </li>
          <br>
          {{/if}}
          {{/each}}
        </ul>
      </div>

    </div>
  </div>

  <div class="block">
    <div class="columns">
      <div class="column">
      </div>
        <div class="column is-4 has-text-centered">
          <h1  class="title is-danger" id="headburg">Eat Da' Burger!</h1>
        </div>
      <div class="column">
     </div>
    </div>
  </div>
<!--
  <div class="block">
    <div class="columns">
      <div class="column is-4">
      </div>

      <div class="column is-4">
     </div>
    </div>
  </div>
-->
<section class="newBurgerArea">
  <div class="columns">

    <div class="column is-4">
    </div>
    <div class="column is-4 has-text-centered">

    <form class="has-text-centered" id="newBurger">

      <div class="field">
        <label class="label"></label>
        <div class="control">
        <input id="newBurgerName" class="input" type="text" placeholder="More burgers!">
        <br>
        </div>

        <div class="has-text-centered">
            <button class="button is-danger is-outlined is-6" type="submit">Nom</button>
        </div>
        <p class="help has-text-centered is-size-6">Enter a burger you'd like to consume and then click the "nom" button.</p>
    </div>

    <div class="column is-4">
    </div>

  </form>

  </div>
</div>


</section>

<!--
<Field>
   <label className="label">Burger 1 Information dafsdf </label>
   <Control>
      <button id="devour" class="button is-danger is-medium" type="submit">Devour</button>
   </Control>

 </Field>
 <br>
 <br>
-->
</div>
